<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <nav>
      <a href="#">Home</a>
      <a href="#">Signup</a>
      <a href="#">Signin</a>
    </nav>
    {{{body}}}
  </body>
</html>
